p {
    margin: 0;
    padding: 0;
}

.ft10 {
    font-size: 12px;
    font-family: Times;
    color: #000000;
}

.ft11 {
    font-size: 7px;
    font-family: Times;
    color: #000000;
}

.ft12 {
    font-size: 12px;
    font-family: Times;
    color: #0000ff;
}

.ft13 {
    font-size: 14px;
    font-family: Times;
    color: #000000;
}

.ft14 {
    font-size: 27px;
    font-family: Times;
    color: #000000;
}

.ft15 {
    font-size: 5px;
    font-family: Times;
    color: #000000;
}

.ft16 {
    font-size: 19px;
    font-family: Times;
    color: #000000;
}

.ft17 {
    font-size: 8px;
    font-family: Times;
    color: #000000;
}

.ft18 {
    font-size: 12px;
    font-family: Times;
    color: #ff0000;
}

.ft19 {
    font-size: 3px;
    font-family: Times;
    color: #000000;
}

.ft110 {
    font-size: 9px;
    font-family: Times;
    color: #000000;
}

.ft111 {
    font-size: 2px;
    font-family: Times;
    color: #000000;
}

.ft112 {
    font-size: 11px;
    font-family: Times;
    color: #000000;
}

.ft113 {
    font-size: 12px;
    line-height: 16px;
    font-family: Times;
    color: #000000;
}



.ft20 {
    font-size: 12px;
    font-family: Times;
    color: #000000;
}

.ft21 {
    font-size: 7px;
    font-family: Times;
    color: #000000;
}

.ft22 {
    font-size: 12px;
    font-family: Times;
    color: #0000ff;
}

.ft23 {
    font-size: 14px;
    font-family: Times;
    color: #000000;
}

.ft24 {
    font-size: 27px;
    font-family: Times;
    color: #000000;
}

.ft25 {
    font-size: 16px;
    font-family: Times;
    color: #000000;
}

.ft26 {
    font-size: 9px;
    font-family: Times;
    color: #000000;
}

.ft27 {
    font-size: 11px;
    font-family: Times;
    color: #000000;
}

.ft28 {
    font-size: 11px;
    font-family: Times;
    color: #ff0000;
}

.ft29 {
    font-size: 12px;
    font-family: Times;
    color: #ff0000;
}

.ft210 {
    font-size: 11px;
    line-height: 16px;
    font-family: Times;
    color: #000000;
}

.ft211 {
    font-size: 11px;
    line-height: 17px;
    font-family: Times;
    color: #000000;
}


.ft30 {
    font-size: 12px;
    font-family: Times;
    color: #000000;
}

.ft31 {
    font-size: 7px;
    font-family: Times;
    color: #000000;
}

.ft32 {
    font-size: 12px;
    font-family: Times;
    color: #0000ff;
}

.ft33 {
    font-size: 14px;
    font-family: Times;
    color: #000000;
}

.ft34 {
    font-size: 27px;
    font-family: Times;
    color: #000000;
}

.ft35 {
    font-size: 11px;
    font-family: Times;
    color: #000000;
}

.ft36 {
    font-size: 6px;
    font-family: Times;
    color: #000000;
}

.ft37 {
    font-size: 11px;
    line-height: 16px;
    font-family: Times;
    color: #000000;
}