@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');

/* Scrollbar style */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8d8989; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8d8989; 
  }
  
/* data table styles */
  .css-f3jnds-MuiDataGrid-columnHeaders {
    background-color: rgb(103, 116, 142);
  }

  .css-3ihp42-MuiDataGrid-root .MuiDataGrid-iconSeparator {
    color:  transparent !important;
  }

  .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    color: white;
  }

  .MuiDataGrid-row {
    cursor: pointer;
  }